.g-head .btn-list ul  .sty{
    border-right: rgba(255, 255, 255, 0.37) solid 1px;}
.g-head .btn-list ul  .sty a{
padding-right:0.14rem;}
/*检索功能隐藏
.g-head .btn-list .search {
    display:none;
}*/
.g-nav2 .scroll li{}
.open .sidemenu{display:block !important;}


.yjfkk img{margin-right: 0.1rem;}
